.intro {
    font-weight: bold;
    color: blue;
}

.wrapWord {
    /*font-weight: bold; */
    color: red;
    text-decoration: underline;
}

.wrapWord:hover {
    background-color: #ffcc99;
    cursor: pointer;
}

#myPopup {
    height: auto;
    width: 240px;
    position: absolute;
    background-color: white;
    display: block;
    /*
    border-color: black;
    border-style: solid;
    border-width: 1px;
    */
    border-radius: 2%;
    z-index: 9999; /*brings to front */
    box-shadow: 0 0 1px 1px #999999;
    line-height: 2em;
}

#myPopupTitle {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 5px;
    font-family: "Open Sans", Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contentButton {
    margin: 5px;
    display: flex;
    height: 35px;
    font-size: 16px;
    position: relative;
}

.smallText {
    font-size: 13px !important;
}

#misButton {
    transition: background-color 0.2s ease-in-out;
    background-color: #ffca8e;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #ffbc6f;
    border-radius: 5px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

#misButton:hover {
    background-color: #ffbc6f;
    cursor: pointer;
}

#myPopupWord {
    font-size: 16px;
    padding: 5px;
    color: #333333;
}

.suggestButton {
    transition: background-color 0.2s ease-in-out;
    background-color: #9bff9b;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #65e965;
    border-radius: 5px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}

.suggestButton:hover {
    background-color: #65e965;
    cursor: pointer;
}

.spellingSuggestion {
    padding: 5px;
    color: #333333;
    width: 100%;
}

/*
.contentButton img {

    position: absolute;
    width: 20%;
    height: 100%;
    /*display: none;
    border-radius: 5px 5px 5px 5px;
    /*border-style: none none solid none;
    border-color: black;
}
*/

.CAST_colorText {
    color: #409bff;
}

.CAST_highlightBackground {
    background-color: #f4ff37;
}

.CAST_underline {
    text-decoration-line: underline;
}

.searchResults {
    margin-bottom: 75px;
}

.searchImage{
    margin-left: 75px;
    /*margin-right:-75px;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 100%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

.searchResult {
    border-radius: 0px;
    /*background-color: white;*/
    margin: 30px 0px 20px 0px;
    padding-left: 5px;
    /*border-left: dodgerblue 1px solid;*/
}

.resultTitle {
    color: dodgerblue;
    margin-bottom: 5px;
    font-size: 2.3vh;
}

.resultTitle:hover {
    text-decoration: underline;
}

.resultSnippet {
    color: black;
}

#wave{
    visibility: hidden;
    display: none;
}

#wave.result{
    visibility: visible;
    display: block;
    width:60%;
    height:28%;
    position: absolute;
    -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 7%, rgba(0,0,0,1) 50%);
    left: 40%;
    top: 1%;
    z-index: 0;
}


.resultBox{
    padding: .5% 1% .5% 1%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.resultBox:hover{
    box-shadow: 0 0 20px #409bff;
    transition: ease-in-out 0.2s;
}

.topCastHeader{
    background: #f7f7f7;
    box-shadow: 0 6px 4px -5px whitesmoke;
}

#navBar{
    color: rgb(34, 134, 235);
    font-size: 18px;
    display: none;
    width: 45%;
    height: 50%;
    /*Make it ajustable by size*/
}

@media screen and (max-width: 800px) {
    #navBar{
        font-size: 12px;
        display: none;
        width: 20%;
        height: 50%;
        position: center;
    }
}

.linkAndIcon{
    white-space: nowrap;
    padding-right: 10px;
}

.clickBox {
    margin: 0;
    padding: 1%;
    border-radius: 8px;
    background-color: transparent;
    transition: box-shadow ease-in-out 0.2s;
}

.no-dec:hover {
    text-decoration: none !important;
}

.imgWindow {
    position: absolute;
    width: 180px;
    height: 100px;
    top: -31.5px;
    left: 98%;
    background-color: #65e965;
    border-radius: 5px;
    display: none;
    z-index: 10000;
}

.imgExpand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: auto;
    max-width: 90%;
    max-height: 100%;
    /*transition: display 0.5s ease-in-out;*/
    border-radius: 5px;
}

.contentWrapper {
    display: flex;
}

.resultImage {
    width: 100%;
    border-radius: 5%;
}

.resultImageContainer {
    padding-left: 0px;
    padding-right: 1%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: static;
}

.resultTextContainer {
    padding-left: 1%;
    padding-right: 1%;
    position: static;
}

/*
#ttsButton {
    background-color: #ececec;
    transition: background-color 0.2s ease-in-out;
    width: 20%;
    text-align: center;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #d4d4d4;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ttsButton:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

#ttsIcon {
    max-width: 25px;
    max-height: 25px;
}
*/

.webFrameContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    right: 1%;
    width: 40%;
    height: 70%;
    border-width: 5px;
    border-style: solid;
    border-color: #409bff;
    border-radius: 1%;
    background-color: white;
    background-image: url("../assets/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.webFrame {
    flex-grow: 1;
    width: 100%;
    margin: -1px;
}

.dragBar {
    height: 6.5vh;
    background-color: #409bff;
    margin: -1px;
    margin-bottom: 0px;
    text-align: right;
}

.exitWebFrame, .newTab {
    padding: .5vh;
    font-size: 5.2vh;
    border-radius: 10%;
    color: white;
    cursor: pointer;
}

.exitWebFrame {
    padding-left: 1vh;
    padding-right: 1vh;
}

.exitWebFrame:hover, .newTab:hover {
    background-color: #9fcdff;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.failFrame {
    font-size: 3em;
    font-weight: bold;
    padding: 5%;
    background-color: white;
    background-image: url("../assets/danger.jpg");
    text-align: center;
}